{
        "endpoint": "https://graphite.myorg.com/render",
        "username": "secret-username",
        "password": "secre-password",
        "scriptdir": "./conf.d",
        "interval": "5minutes"
}
